<div class="container">
<h2>注文履歴一覧</h2>

<table class="table">
	<thead class="thead-light">
		<tr>
			<th>注文日時</th>
			<th>メニュー名</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
		<tr>
			<td><%= order.created_at.strftime('%Y/%m/%d/%H:%M:%S') %></td>
			<td><%= link_to order.menus.name, employee_menu_path(order.menu_id) %></td>
			<td><%= link_to "再度注文する", employee_orders_path, :method => :post, class: "btn btn-outline-primary"%></td>
		</tr>
		<% end %>
	</tbody>
</table>
