<div class="about">
	<h2>About</h2>
	<p class="about-text">
		今日も一日お疲れ様です！</br>
		Staff Mealsは飲食店で働くみなさんの賄い食事を</br>
		よりスムーズに、より楽しんでもらえるように作成された</br>
		アプリケーションです。</br>
		検索、ランキング、おすすめ等から選択ができ自分の履歴
		を確認することもできます。</br>
		毎日の仕事をもっと楽しく！！</br>
	</p>
	<%= image_tag 'mediterranean-cuisine-2378758__480.jpg', size: '500x200' %>
</div>