<div class="about">
	<h1 class="about-title">About</h1>
	<p class="about-text">
		今日も一日お疲れ様です！
		Staff Mealsは飲食店で働くみなさんの賄い食事を
		よりスムーズに、より楽しんでもらえるように作成された
		アプリケーションです。
		検索、ランキング、おすすめ等から選択ができ自分の履歴
		を確認することもできます。
		毎日の仕事をもっと楽しく！！
	</p>
	<%= image_tag
</div>